<!-- 投稿記事リスト -->
<!-- th:fragment th:replace や th:include で使用されるフラグメントを宣言する -->
<div class="Area_articles" th:fragment="fragment-articles" th:each="article:${page}" th:object="${article}">
    <div>
        <table class="Area_articles_table" border="1">
            <tr class="Area_article_title">
                <td>
                    <label>
                        <input type="radio" name="article_check" th:data-id="*{id}" />
                    </label>
                </td>
            </tr>
            <tr>
                <td th:text="'名前:' + *{name} + ' 投稿日：' + ${#dates.format(article.registerAt,
                        'yyyy/MM/dd HH:mm:ss')}"></td>
            </tr>
            <tr>
                <td>
                    <pre th:text="*{contents}"></pre>
                </td>
            </tr>
        </table>
    </div>
</div>
